@{
    ViewData["Title"] = "Home";
}

<div class="text-center Heading-Container">
    <h1 class="display-4 East-Coast-Header">East Coast Tae Kwon Do</h1>
    <p class="sub-header"><i>Altoona, IA</i></p>
</div>

<section class="section-for-about container">
    <img src="~/other-images/Norm-read.jpg" class="Norm-read-image" alt="Master Wrigley Reading" />
    <div class="Master-Wrigley-text-container">
        <p class="h3 master-wrigley-text">- Master Wrigley -<br/></p>
        <p class="master-wrigley-paragraph">Meet Master Wrigley, a seasoned martial artist with a passion for Tae Kwon Do that spans over three decades. His journey began in 1993, and since then, he's achieved a 4th degree black belt in Tae Kwon Do. Master Wrigley's dedication led him to train under esteemed instructors such as Dan Zarbo and David Arundel, both highly respected figures in the martial arts community. From assisting in teaching to running his own school, Master Wrigley's commitment to martial arts is unwavering. With a diverse training background including Aikido, Brazilian Gracie Jujitsu, and Krav Maga, Master Wrigley brings a wealth of experience to his practice. Discover more about Master Wrigley's martial arts journey and his Iowa-based East Coast Tae Kwon Do school. To learn more about Master Wrigley, click below!</p>
        <a asp-controller="Home" asp-action="About" asp-area="" class="learn-more-button">Learn More!</a>
    </div>
</section>

<div class="spacer">
</div>


<div class="East-Coast-Logo-Container">
    <img src="~/logos/ECTKD_logo.jpeg" class="East-Coast-Logo" alt="East Coast Tae Kwon Do Logo"/>
</div>

<div class="spacer">
</div>

<div class="reviews-container">
    <img src="~/other-images/kids-on-hill.jpg" class="kids-on-hill" alt="Kids on hill background image" />
    <div class="reviews-text">Testing text</div>
</div>