@media screen and (max-width: 351px){
    .East-Coast-Title{
        font-size: 10px !important;
    }
}
.header-custom{
    height: 55px;
    background-color: #343434;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}
.left-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    flex: 1;
/*    */
    margin-left: 5px;
}
.middle-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    flex: 2;

}
.right-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    flex: 1;

}

.East-Coast-Title{
    font-family: 'Kalam', Arial, "Times New Roman";
    color: white !important;
    text-align: center;

    font-size: 15px;
    
    transition: color .2s;
}
.East-Coast-Title:hover{
    color: #d0d0d0 !important;
}

.header-link-custom{
    background-color: #e7e7e7;
    border-style: solid;
    border-color: #bebebe;
    border-radius: 6px;
    text-decoration: none;
    color: #1e1e1e;
    
    padding: 4px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 10px;
    
    transition: background-color .2s, border-color .2s, color .2s;
}
.header-link-custom:hover{
    background-color: #d0d0d0;
    border-style: solid;
    border-color: #b2b2b2;
    border-radius: 6px;

    padding: 4px;

    text-decoration: none;
    color: #1e1e1e;

    transition: background-color .2s, border-color .2s, color .2s;
}
.header-link-custom:active{
    background-color: #9f9f9f;
    border-color: #7a7a7a;
    text-decoration: none;
    color: #000000;
    transition: background-color .2s, border-color .2s, color .2s;

}
.header-social-icon{
    height: 25px;
    margin-left: 3px;
    margin-right: 3px;
    
    transition: opacity .2s;
}
.header-social-icon:hover {
    opacity: 0.7; /* Reduce opacity to lighten up the image on hover */
}